# ignore diff things in data, so we can keep feline-data.csv :
data/pdb
data/*.txt
data/animal-counts
data/elements
results/
*.pdf
.bash_profile
creatures/
automate_runHM.bash
final_result.txt
lengths.txt
lengths_sorted.txt
molecules/
molecules_backup/
north-pacific-gyre/
notes.txt
pizza.cfg
thesis/
writing
.Rproj.user

# this is an exception: NOTE: the following does nto work - cannot make exception for a file in an ignored dir
#!data/feline-data.csv
# what i could do is make an exception for a single pdf eventhough i ignore all *.pdf