data/
results/
*.pdf
.bash_profile
creatures/
automate_runHM.bash
final_result.txt
lengths.txt
lengths_sorted.txt
molecules/
molecules_backup/
north-pacific-gyre/
notes.txt
pizza.cfg
thesis/
writing
.Rproj.user

# this is an exception:
!data/feline-data.csv